.main {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.main .one {
  min-width: 100%;
  height: auto;
  height: 100vh;
  background-size: cover;
}

.one {
  justify-content: center;
  align-items: center;
}

/* FIRST PART */
.main section:nth-child(1) {
  background: #00141f;
  border-radius: 0 100% 0 0;
  min-width: 100%;
  height: 100vh;
  border-right: 10px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main section:nth-child(1) .sectionOneContent {
  margin-left: 120px;
  margin-top: 200px;
  width: 50%;
  background-color: #e6e1db;
  height: 200px;
  padding: 0;
  border-radius: 25px;
}
.main section:nth-child(1) .sectionOneContent .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main section:nth-child(1) .sectionOneContent .container p {
  font-size: 3rem;
  padding: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align: center;
  overflow: hidden;
}
.main section:nth-child(1) .sectionOneContent .container p span.typed-text {
  font-weight: normal;
  color: #00141f;
}
.main section:nth-child(1) .sectionOneContent .container p span.cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}
.main section:nth-child(1) .sectionOneContent .container p span.cursor.typing {
  animation: none;
}
@keyframes blink {
  0% {
    background-color: #ccc;
  }
  49% {
    background-color: #ccc;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: #ccc;
  }
}

.arrow-buttons {
  position: fixed;
  display: flex;
  flex-direction: column;
  margin-top: -50px;
  right: 40px;
  z-index: 1;
  font-size: 25px;
}
.arrow-buttons .top {
  font-weight: bolder;
  color: #0d6efd;
}
.arrow-buttons .file {
  font-weight: bolder;
  color: white;
}
.arrow-buttons .graph {
  font-weight: bolder;
}
.arrow-buttons .tmline {
  font-weight: bolder;
}
.arrow-buttons .contact {
  color: #0d6efd;
}
.arrow-buttons a i {
  font-weight: bolder;
  text-align: center;
  border-radius: 25%;
}

@media only screen and (max-width: 1277px) {
  .main section:nth-child(1) .sectionOneContent {
    margin-left: -50px;
    margin-top: 200px;
    width: 62%;
    background-color: #e6e1db;
    height: 250px;
    padding: 0;
    border-radius: 25px;
  }
  .dynamic-txts li::after {
    content: "";
    position: absolute;
    left: 0;
    height: 90%;
    width: 100%;
    background: #e6e1db;
    border-top-right-radius: 20px;
    border-left: 5px solid #00141f;
    animation: typing 3s steps(7) infinite;
  }
}
@media only screen and (max-width: 1057px) {
  .arrow-buttons {
    display: none;
  }
  .main section:nth-child(1) .sectionOneContent {
    margin-left: -200px;
    margin-top: 200px;
    width: 70%;
    background-color: #e6e1db;
    height: 250px;
    padding: 0;
    border-radius: 25px;
  }
  .wrapper {
    display: flex;
    padding-left: 25px;
  }
  .wrapper .static-txt {
    color: #00141f;
    font-size: 10px;
    font-weight: 100;
  }
  .wrapper .dynamic-txts {
    margin-left: 1px;
    line-height: 90px;
    height: 90px;
    overflow: hidden;
  }
  .dynamic-txts li {
    list-style: none;
    color: #00141f;
    font-size: 60px;
    font-weight: 400;
    position: relative;
    top: 0;
    animation: slide 12s steps(4) infinite;
  }
  @keyframes slide {
    100% {
      top: -360px;
    }
  }
  .dynamic-txts li {
    position: relative;
  }
  .dynamic-txts li::after {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: #e6e1db;
    border-left: 5px solid #00141f;
    animation: typing 3s steps(7) infinite;
  }
  @keyframes typing {
    40%, 60% {
      left: calc(100% + 30px);
    }
  }
}
@media only screen and (max-width: 900px) {
  .main section:nth-child(1) .sectionOneContent {
    margin-left: -150px;
    margin-top: 300px;
    width: 70%;
    background-color: #e6e1db;
    height: 250px;
    padding: 20px;
    border-radius: 25px;
  }
}
@media only screen and (max-width: 600px) {
  .main section:nth-child(1) .sectionOneContent {
    margin-left: -90px;
    margin-top: 300px;
    width: 80%;
    background-color: #e6e1db;
    height: 250px;
    padding: 20px;
    border-radius: 25px;
  }
}
@media only screen and (max-width: 500px) {
  .main section:nth-child(1) .sectionOneContent {
    margin-left: 10px;
    margin-top: 200px;
    width: 100%;
    background-color: #e6e1db;
    height: 250px;
    padding: -10px;
    border-radius: 25px;
  }
  .wrapper .dynamic-txts {
    margin-left: 1px;
    line-height: 60px;
    height: 60px;
    overflow: hidden;
  }
  .dynamic-txts li {
    list-style: none;
    color: #00141f;
    font-size: 30px;
    font-weight: 100;
    position: relative;
    top: 0;
    animation: none;
  }
  @keyframes slide {
    80% {
      top: 0;
    }
  }
}
@media only screen and (max-width: 320px) {
  .main section:nth-child(1) .sectionOneContent {
    margin-left: 10px;
    margin-top: 200px;
    width: 10000px;
    background-color: #e6e1db;
    height: 250px;
    padding: 0;
    border-radius: 25px;
  }
}
/* Timeline Container */
.section-time {
  background: rgba(0, 20, 31, 0.7) url("../image/stairs.jpg");
  background-blend-mode: darken;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.section-time .timeline {
  margin-top: 20px;
  z-index: 1;
}
.section-time .timeline h3 {
  color: white;
}

.timeline .exp {
  color: yellow;
  font-weight: bolder;
}

/* Outer Layer with the timeline border */
.outer {
  border-left: 4px solid white;
  margin-left: 10px;
  object-position: center;
  scrollbar-color: yellow;
}

/* Card container */
.box {
  position: relative;
  margin: 0 0 20px 20px;
  padding: 5px;
  background: #00141f;
  color: white;
  border-radius: 8px;
  max-width: 360px;
  height: 120px;
}

/* Information about the timeline */
.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Title of the card */
.title {
  color: white;
  font-size: 15px;
  font-weight: bold;
  position: relative;
  letter-spacing: 1px;
}

.info p {
  color: white;
  font-size: 12x;
}

/* CIRCLE*/
.title::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background: white;
  border-radius: 999px;
  left: -40px;
  border: 5px solid #00141f;
}

/* width */
.outer::-webkit-scrollbar {
  width: 20px;
}

/* Track */
.outer::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px black;
  border-radius: 10px;
}

/* Handle */
.outer::-webkit-scrollbar-thumb {
  background: #00141f;
  border-radius: 10px;
}

/* Handle on hover */
.outer::-webkit-scrollbar-thumb:hover {
  background: #8ed1cc;
}

.main .section-recent {
  background: #e6e1db;
  border: 10px solid white;
  min-width: 90%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .section-recent .container-projects {
  display: flex;
  flex-direction: row;
  margin-bottom: 500px;
  background-image: url("../image/skills.png");
  background-color: #00141f;
  border: 10px solid white;
  width: 80%;
  height: 100%;
  flex-direction: column;
}
.main .section-recent .row h2 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: white;
  margin-top: 100px;
}

.card {
  position: relative;
  text-align: center;
  height: 155px;
  width: 18rem;
}

.projectLinks {
  justify-content: center;
  margin-top: 100px;
  gap: 50px;
}

.card-img-top {
  position: relative;
  height: 155px;
  width: 2500px;
}

.image-text {
  padding: 55px;
  position: absolute;
  bottom: 30px;
  cursor: pointer;
  font-size: 25px;
  font-weight: bolder;
  color: white;
  background-color: black;
  height: 155px;
  width: 286px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s, opacity 0.5s linear;
  transition: visibility 0s, opacity 0.5s linear;
}

.card:hover .image-text {
  visibility: visible;
  opacity: 0.6;
}

.card-body {
  height: 20px;
}

.card-title {
  margin-bottom: 50px;
  margin-top: -10px;
  font-size: 15px;
}

@media only screen and (max-width: 830px) {
  .projectLinks {
    gap: 60px;
  }
  .card {
    width: 15rem;
  }
  .image-text {
    padding: 55px;
    position: absolute;
    bottom: 30px;
    cursor: pointer;
    font-size: 20px;
    width: 15rem;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility 0s, opacity 0.5s linear;
    transition: visibility 0s, opacity 0.5s linear;
  }
  .card-title {
    margin-bottom: 50px;
    margin-top: -10px;
    font-size: 12px;
    font-weight: bolder;
  }
}
@media only screen and (max-width: 780px) {
  .main .section-recent .container-projects {
    height: 700px;
  }
  .projectLinks {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .card {
    width: 18rem;
  }
  .image-text {
    padding: 55px;
    position: absolute;
    bottom: 30px;
    cursor: pointer;
    font-size: 25px;
    width: 16rem;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility 0s, opacity 0.5s linear;
    transition: visibility 0s, opacity 0.5s linear;
  }
}
@media only screen and (max-width: 420px) {
  .card {
    width: 10rem;
  }
  .image-text {
    padding: 55px;
    position: absolute;
    bottom: 30px;
    cursor: pointer;
    font-size: 20px;
    width: 15rem;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility 0s, opacity 0.5s linear;
    transition: visibility 0s, opacity 0.5s linear;
  }
  .card-title {
    margin-bottom: 50px;
    margin-top: -10px;
    font-size: 12px;
    font-weight: bolder;
  }
}
@media only screen and (max-width: 320px) {
  .main .section-recent {
    border: 1px solid white;
    min-width: 100%;
    height: 100vh;
  }
  .main .section-recent .container-projects {
    margin-bottom: 500px;
    background-image: url("../image/skills.png");
    background-color: #00141f;
    border: 1px solid white;
    width: 100%;
    height: 100%;
  }
  .main .section-recent .row h2 {
    margin-top: 50px;
  }
  .card {
    height: 300px;
    width: 18rem;
  }
  .projectLinks {
    justify-content: center;
    margin-top: 100px;
    gap: 50px;
  }
  .card-img-top {
    position: relative;
    height: 155px;
    width: 250px;
  }
  .image-text {
    padding: 55px;
    position: absolute;
    bottom: 30px;
    cursor: pointer;
    font-size: 25px;
    font-weight: bolder;
    color: white;
    background-color: black;
    height: 155px;
    width: 286px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility 0s, opacity 0.5s linear;
    transition: visibility 0s, opacity 0.5s linear;
  }
  .card:hover .image-text {
    visibility: visible;
    opacity: 0.6;
  }
  .card-body {
    height: 20px;
  }
  .card-title {
    margin-bottom: 50px;
    margin-top: -10px;
    font-size: 15px;
  }
}
/* THIRD PART */
.main section:nth-child(6) {
  min-width: 100%;
  height: auto;
  background: #00141f;
  height: 130vh;
  border-top: 10px solid white;
  border-radius: 0 150% 0 0;
}

.form-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-text {
  margin-top: 50px;
  margin-left: 20px;
}
.contact-text h2 {
  color: #e6e1db;
  font-size: 25px;
  font-weight: bolder;
}
.contact-text p {
  color: #e6e1db;
  font-size: 25px;
  font-weight: 600;
  text-shadow: 4px 0px 2px rgba(0, 20, 31, 0.6);
}

.line {
  border-top: 2px solid white;
  margin-top: 10px;
  margin-bottom: 10px;
}

.col a i {
  color: white;
  font-size: 20px;
}

#form {
  background-color: #00141f;
  width: 500px;
  border: 8px solid #e6e1db;
  padding: 20px;
  margin-top: 50px;
  margin-left: 30px;
  text-align: left;
}

#form textarea {
  height: 200px;
  width: 445px;
  resize: none;
}

#form .fullName {
  width: 410px;
}

@media only screen and (max-width: 739px) {
  .main section:nth-child(6) {
    height: 900px;
  }
  .form-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #form {
    margin-left: 0;
  }
  .contact-text h2 {
    color: #e6e1db;
  }
  .contact-text p {
    color: #e6e1db;
  }
}
@media only screen and (max-width: 768px) {
  #form {
    background-color: #00141f;
    width: 400px;
    border: 6px solid #e6e1db;
    padding: 20px;
    margin-top: 30px;
    margin-left: 0;
    text-align: left;
  }
  #form textarea {
    height: 200px;
    width: 350px;
    resize: none;
  }
}
@media only screen and (max-width: 425px) {
  #form {
    background-color: #00141f;
    width: 390px;
    border: 6px solid #e6e1db;
    padding: 20px;
    margin-top: 30px;
    margin-left: 0;
    text-align: left;
  }
  #form textarea {
    height: 200px;
    width: 340px;
    resize: none;
  }
}
@media only screen and (max-width: 375px) {
  #form {
    background-color: #00141f;
    width: 350px;
    border: 6px solid #e6e1db;
    padding: 20px;
    margin-top: 30px;
    margin-left: 0;
    text-align: left;
  }
  #form textarea {
    height: 200px;
    width: 300px;
    resize: none;
  }
}
@media only screen and (max-width: 320px) {
  #form {
    background-color: #00141f;
    width: 310px;
    border: 6px solid #e6e1db;
    padding: 20px;
    margin-top: 30px;
    margin-left: 0;
    text-align: left;
  }
  #form textarea {
    height: 200px;
    width: 255px;
    resize: none;
  }
}
.main .section-image {
  min-width: 100%;
  height: auto;
  height: 80vh;
  background: rgba(0, 20, 31, 0.7) url("https://images.unsplash.com/photo-1542831371-29b0f74f9713?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  background-blend-mode: darken;
  background-attachment: fixed;
  background-size: cover;
}

.main .section-skills {
  min-width: 100%;
  height: auto;
  height: 70vh;
  background-size: cover;
  background-color: #00141f;
  display: flex;
  align-items: center;
  justify-content: center;
}

.boxRate {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../image/skills.png");
  width: 80%;
  height: 500px;
  margin-bottom: 230px;
  border: 10px solid white;
}

.progress {
  margin-top: 30px;
  height: 200px;
}

.rate {
  width: 90%;
  height: 260px;
}
.rate label {
  font-weight: 800;
  font-size: 15px;
}

.progress-bar i {
  font-size: 20px;
  height: 100vh;
  text-align: center;
}

.skill-text {
  text-align: center;
  color: white;
  font-size: 25px;
  font-weight: bold;
}

@media only screen and (max-width: 440px) {
  .main .section-skills {
    min-width: 100%;
  }
  .boxRate {
    margin-bottom: 230px;
    border: 5px solid white;
    width: 100%;
  }
  .progress {
    margin-top: 30px;
    height: 200px;
  }
  .rate {
    width: 95%;
    height: 260px;
  }
  .rate label {
    font-weight: 800;
    font-size: 10px;
  }
  .progress-bar i {
    font-size: 25px;
  }
  .skill-text {
    font-size: 50px;
  }
}
@media only screen and (max-width: 375px) {
  .main .section-skills {
    min-width: 100%;
  }
  .boxRate {
    margin-bottom: 230px;
    border: 5px solid white;
    width: 100%;
  }
  .progress {
    margin-top: 30px;
    height: 200px;
  }
  .rate {
    width: 95%;
    height: 260px;
  }
  .rate label {
    font-weight: 800;
    font-size: 12px;
  }
  .progress-bar i {
    font-size: 25px;
  }
  .skill-text {
    font-size: 50px;
  }
}
@media only screen and (max-width: 320px) {
  .main .section-skills {
    min-width: 100%;
  }
  .boxRate {
    margin-bottom: 230px;
    border: 5px solid white;
    width: 100%;
  }
  .progress {
    margin-top: 30px;
    height: 200px;
  }
  .rate {
    width: 95%;
    height: 260px;
  }
  .rate label {
    font-weight: 600;
    font-size: 9px;
  }
  .progress-bar i {
    font-size: 20px;
  }
  .skill-text {
    font-size: 30px;
  }
}
footer {
  border-top: 5px solid white;
  height: 130px;
  background-color: #00141f;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer p {
  color: white;
  font-size: 20px;
}

* {
  box-sizing: border-box;
  box-sizing: border-box;
  font-family: sans-serif;
}

body img {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 100vh;
  width: 100%;
}

body {
  margin: 0;
  overflow-x: hidden;
}

.main {
  position: relative;
}

html {
  scroll-behavior: smooth;
  margin: 0;
  overflow-x: hidden;
}

@media screen and (max-width: 320px) {
  body {
    margin: 0;
  }
}

/*# sourceMappingURL=styles.css.map */
