#form {
  background-color: #00141f;
  width: 500px;
  border: 8px solid #e6e1db;
  padding: 20px;
  margin-top: 50px;
  margin-left: 30px;
  text-align: left;
}
#form textarea {
  height: 200px;
  width: 445px;
  resize: none;
}
#form .fullName {
  width: 410px;
}
@media only screen and (max-width: 739px) {
  .main section:nth-child(6) {
    height: 900px;
  }
  .form-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #form {
    margin-left: 0;
  }
  .contact-text h2 {
    color: #e6e1db;
  }
  .contact-text p {
    color: #e6e1db;
  }
}
@media only screen and (max-width: 768px) {
  #form {
    background-color: #00141f;
    width: 400px;
    border: 6px solid #e6e1db;
    padding: 20px;
    margin-top: 30px;
    margin-left: 0;
    text-align: left;
  }
  #form textarea {
    height: 200px;
    width: 350px;
    resize: none;
  }
}
@media only screen and (max-width: 425px) {
  #form {
    background-color: #00141f;
    width: 390px;
    border: 6px solid #e6e1db;
    padding: 20px;
    margin-top: 30px;
    margin-left: 0;
    text-align: left;
  }
  #form textarea {
    height: 200px;
    width: 340px;
    resize: none;
  }
}
@media only screen and (max-width: 375px) {
  #form {
    background-color: #00141f;
    width: 350px;
    border: 6px solid #e6e1db;
    padding: 20px;
    margin-top: 30px;
    margin-left: 0;
    text-align: left;
  }
  #form textarea {
    height: 200px;
    width: 300px;
    resize: none;
  }
}
@media only screen and (max-width: 320px) {
  #form {
    background-color: #00141f;
    width: 310px;
    border: 6px solid #e6e1db;
    padding: 20px;
    margin-top: 30px;
    margin-left: 0;
    text-align: left;
  }
  #form textarea {
    height: 200px;
    width: 255px;
    resize: none;
  }
}
