/* Timeline Container */
.section-time {
  background: rgb(0, 20, 31, 0.7) url("../image/stairs.jpg");
  background-blend-mode: darken;
  background-attachment: fixed;
  background-size: cover;
  // filter: brightness(80%);
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  .timeline {
    margin-top: 20px;
    z-index: 1;

    h3 {
      color: white;
    }
  }
}

.timeline .exp {
  color: yellow;
  font-weight: bolder;
}
/* Outer Layer with the timeline border */
.outer {
  border-left: 4px solid white;
  // overflow-y: scroll;

  margin-left: 10px;
  object-position: center;
  scrollbar-color: yellow;
}

/* Card container */
.box {
  position: relative;
  margin: 0 0 20px 20px;
  padding: 5px;
  background: #00141f;
  color: white;
  border-radius: 8px;
  max-width: 360px;
  height: 120px;
}

/* Information about the timeline */
.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Title of the card */
.title {
  color: white;
  font-size: 15px;
  font-weight: bold;
  position: relative;
  letter-spacing: 1px;
}
.info p {
  color: white;
  font-size: 12x;
}

/* CIRCLE*/
.title::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background: white;
  border-radius: 999px;
  left: -40px;
  border: 5px solid #00141f;
}

/* width */
.outer::-webkit-scrollbar {
  width: 20px;
}

/* Track */
.outer::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px black;
  border-radius: 10px;
}

/* Handle */
.outer::-webkit-scrollbar-thumb {
  background: #00141f;
  border-radius: 10px;
}

/* Handle on hover */
.outer::-webkit-scrollbar-thumb:hover {
  background: #8ed1cc;
}
