@import "https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300";

// section page start
.section-profile {
  display: flex;
  border-top: 2px solid black;
  background-color: #2e2f34;
  padding: 0 12px;
  width: 100%;
  height: 100vh;
  top: -100px;
  overflow-x: hidden;
  box-shadow: 1px 5px 2px 1px rgba(0, 0, 0, 0.79);
  -webkit-box-shadow: 1px 5px 2px 1px rgba(0, 0, 0, 0.79);
  -moz-box-shadow: 1px 5px 2px 1px rgba(0, 0, 0, 0.79);
  h3 {
    color: white;
  }
}

//
.profile {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  overflow-x: hidden;
  border-right: 2px solid #c3bacc;
  font-family: Montserrat;
  h3 {
    font-weight: bolder;
    font-size: 45px;
  }
  a {
    color: #ffff3f;
    text-decoration: none;
    font-size: 30px;
    span {
      color: #c3bacc;
    }
  }
}

// Image center holygrailcenter
.imageBtn-container {
  height: 100%;
  width: 45%;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;

  // image and cover container
  .imageNcover {
    width: 100%;
    height: 80%;
    position: relative;

    // cover-back
    .dark-cover {
      justify-content: center;
      align-self: center;
      margin-top: 80px;
      margin-left: 150px;
      height: 420px;
      position: relative;
      width: 50%;
      background-color: white;
      position: absolute;
      border-radius: 0% 100% 100% 0% / 48% 45% 55% 52%;
      opacity: 0.2;
    }
    // image
    img {
      margin-top: -30px;
      height: 100%;
      margin-left: 70px;
      position: absolute;
      z-index: 1;
    }
  }
  // button
  .button {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  // dl-btn
  button {
    width: 100%;
    bottom: 0;
    line-height: 50px;
    height: 50px;
    text-align: center;
    cursor: pointer;
  }

  #neonShadow {
    height: 50px;
    width: 160px;
    border: none;
    border-radius: 50px;
    transition: 0.3s;
    background-color: rgba(156, 161, 160, 0.3);
    animation: glow 1s infinite;
    transition: 0.5s;
  }
  span {
    display: block;
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    padding-top: 1%;
    padding-right: 2.5%;
    margin-right: 0px;
    font-size: 1.2rem;
    transition: 0.3s;
    opacity: 1;
    color: white;
  }
  span:hover {
    transition: 0.3s;
    opacity: 1;
    font-weight: 700;
  }

  #neonShadow:hover {
    transform: translateX(-20px) rotate(30deg);
    border-radius: 5px;
    background-color: #c3bacc;
    transition: 0.5s;
  }

  @keyframes glow {
    0% {
      box-shadow: 5px 5px 20px rgb(93, 52, 168), -5px -5px 20px rgb(93, 52, 168);
    }

    50% {
      box-shadow: 5px 5px 20px rgb(81, 224, 210),
        -5px -5px 20px rgb(81, 224, 210);
    }
    100% {
      box-shadow: 5px 5px 20px rgb(93, 52, 168), -5px -5px 20px rgb(93, 52, 168);
    }
  }
}

// 3rd part
.introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;

  border-left: 1px solid #c3bacc;
  padding-left: 20px;

  h3 {
    font-size: 35px;
    color: #ffff3f;
  }
  p {
    font-size: 20px;
    padding-left: 5px;
    text-align: justify;
    font-family: Montserrat;
    font-weight: bold;
    color: white;
  }
}

// 1024px
@media screen and (max-width: 1024px) {
  //
  .profile {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    overflow-x: hidden;
    border-right: 2px solid #c3bacc;
    font-family: Montserrat;
    h3 {
      font-weight: bolder;
      font-size: 35px;
    }
    a {
      color: #ffff3f;
      text-decoration: none;
      font-size: 25px;
      span {
        color: #c3bacc;
      }
    }
  }

  // 3rd part
}

// 768px
@media screen and (max-width: 768px) {
  // section page start
  .section-profile {
    padding: 0 0;
    width: 100%;
    height: 100vh;

    h3 {
      color: white;
    }
  }

  //
  .profile {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    overflow-x: hidden;
    border-right: 2px solid #c3bacc;
    font-family: Montserrat;
    h3 {
      font-weight: bolder;
      font-size: 25px;
    }
    a {
      color: #ffff3f;
      text-decoration: none;
      font-size: 20px;
      span {
        color: #c3bacc;
      }
    }
  }

  // Image center holygrailcenter
  .imageBtn-container {
    height: 100%;
    width: 45%;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;

    // image and cover container
    .imageNcover {
      width: 100%;
      height: 80%;
      position: relative;

      // cover-back
      .dark-cover {
        justify-content: center;
        align-self: center;
        margin-top: 80px;
        margin-left: 150px;
        height: 420px;
        position: relative;
        width: 50%;
        background-color: white;
        position: absolute;
        border-radius: 0% 100% 100% 0% / 48% 45% 55% 52%;
        opacity: 0.2;
      }
      // image
      img {
        margin-top: -30px;
        height: 100%;
        margin-left: 70px;
        position: absolute;
        z-index: 1;
      }
    }
  }

  // 3rd part
  .introduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    border-left: 1px solid #c3bacc;
    padding: 0 10px 0 10px;

    h3 {
      font-size: 25px;
      color: #ffff3f;
    }
    p {
      font-size: 18px;
      padding-left: 5px;
      text-align: justify;
      font-family: Montserrat;
      font-weight: bold;
      color: white;
    }
  }

  @media screen and (max-width: 569px) {
    // section page start
    .section-profile {
      display: flex;
      flex-direction: column;
      border-top: 2px solid black;
      background-color: #2e2f34;
      padding: 0 0;
      height: 100%;
      width: 100%;
      top: -100px;
      overflow-x: hidden;
      box-shadow: 1px 5px 2px 1px rgba(0, 0, 0, 0.79);
      -webkit-box-shadow: 1px 5px 2px 1px rgba(0, 0, 0, 0.79);
      -moz-box-shadow: 1px 5px 2px 1px rgba(0, 0, 0, 0.79);
      h3 {
        color: white;
      }
    }

    //
    .profile {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 18vh;
      overflow-x: hidden;
      border-right: none;
      border-bottom: 2px solid #c3bacc;
      font-family: Montserrat;
      h3 {
        font-weight: bolder;
        font-size: 35px;
      }
      a {
        color: #ffff3f;
        text-decoration: none;
        font-size: 20px;
        span {
          color: #c3bacc;
        }
      }
    }

    // Image center holygrailcenter
    .imageBtn-container {
      height: 60vh;
      width: 100%;
      display: flex;
      flex-direction: column;

      overflow-y: hidden;
      overflow-x: hidden;

      // image and cover container
      .imageNcover {
        width: 100%;
        height: 80%;

        position: relative;

        // cover-back
        .dark-cover {
          justify-content: center;
          align-self: center;
          margin-top: 35px;
          margin-left: 90px;
          height: 250px;
          position: relative;
          width: 50%;
          background-color: white;
          position: absolute;
          border-radius: 0% 100% 100% 0% / 48% 45% 55% 52%;
          opacity: 0.2;
        }
        // image
        img {
          margin-top: -30px;
          height: 100%;
          width: 60%;
          margin-left: 60px;
          position: absolute;
          z-index: 1;
        }
      }
      // button
      .button {
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      // dl-btn
      button {
        width: 100%;
        bottom: 0;
        line-height: 50px;
        height: 50px;
        text-align: center;
        cursor: pointer;
      }
    }

    // 3rd part
    .introduction {
      height: 60vh;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-left: none;
      border-top: 1px solid #c3bacc;
      padding: 15px 2px 15px 0;
      h3 {
        font-size: 35px;
        color: #ffff3f;
      }
      p {
        font-size: 20px;
        padding-left: 5px;
        text-align: justify;
        font-family: Montserrat;
        font-weight: bold;
        color: white;
      }
    }
  }
}

// 569px
@media screen and (max-width: 569px) {
  // section page start
  .section-profile {
    display: flex;
    flex-direction: column;
    border-top: 2px solid black;
    background-color: #2e2f34;
    padding: 0 0;
    height: 100%;
    width: 100%;
    top: -100px;
    overflow-x: hidden;
    box-shadow: 1px 5px 2px 1px rgba(0, 0, 0, 0.79);
    -webkit-box-shadow: 1px 5px 2px 1px rgba(0, 0, 0, 0.79);
    -moz-box-shadow: 1px 5px 2px 1px rgba(0, 0, 0, 0.79);
    h3 {
      color: white;
    }
  }

  //
  .profile {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 18vh;
    overflow-x: hidden;
    border-right: none;
    border-bottom: 2px solid #c3bacc;
    font-family: Montserrat;
    h3 {
      font-weight: bolder;
      font-size: 35px;
    }
    a {
      color: #ffff3f;
      text-decoration: none;
      font-size: 20px;
      span {
        color: #c3bacc;
      }
    }
  }

  // Image center holygrailcenter
  .imageBtn-container {
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;

    overflow-y: hidden;
    overflow-x: hidden;

    // image and cover container
    .imageNcover {
      width: 100%;
      height: 80%;

      position: relative;

      // cover-back
      .dark-cover {
        justify-content: center;
        align-self: center;
        margin-top: 35px;
        margin-left: 90px;
        height: 250px;
        position: relative;
        width: 50%;
        background-color: white;
        position: absolute;
        border-radius: 0% 100% 100% 0% / 48% 45% 55% 52%;
        opacity: 0.2;
      }
      // image
      img {
        margin-top: -30px;
        height: 100%;
        width: 60%;
        margin-left: 60px;
        position: absolute;
        z-index: 1;
      }
    }
    // button
    .button {
      width: 100%;
      height: 20%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    // dl-btn
    button {
      width: 100%;
      bottom: 0;
      line-height: 50px;
      height: 50px;
      text-align: center;
      cursor: pointer;
    }
  }

  // 3rd part
  .introduction {
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: none;
    border-top: 1px solid #c3bacc;
    padding: 15px 2px 15px 0;
    h3 {
      font-size: 35px;
      color: #ffff3f;
    }
    p {
      font-size: 20px;
      padding-left: 5px;
      text-align: justify;
      font-family: Montserrat;
      font-weight: bold;
      color: white;
    }
  }
}

// 425px
@media screen and (max-width: 425px) {
  // section page start
  .section-profile {
    display: flex;
    flex-direction: column;
    border-top: 2px solid black;
    background-color: #2e2f34;
    padding: 0 0;
    height: 100%;
    width: 100%;
    top: -100px;
    overflow-x: hidden;
    box-shadow: 1px 5px 2px 1px rgba(0, 0, 0, 0.79);
    -webkit-box-shadow: 1px 5px 2px 1px rgba(0, 0, 0, 0.79);
    -moz-box-shadow: 1px 5px 2px 1px rgba(0, 0, 0, 0.79);
    h3 {
      color: white;
    }
  }

  //
  .profile {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 18vh;
    overflow-x: hidden;
    border-right: none;
    border-bottom: 2px solid #c3bacc;
    font-family: Montserrat;
    h3 {
      font-weight: bolder;
      font-size: 35px;
    }
    a {
      color: #ffff3f;
      text-decoration: none;
      font-size: 20px;
      span {
        color: #c3bacc;
      }
    }
  }

  // Image center holygrailcenter
  .imageBtn-container {
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;

    overflow-y: hidden;
    overflow-x: hidden;

    // image and cover container
    .imageNcover {
      width: 100%;
      height: 80%;

      position: relative;

      // cover-back
      .dark-cover {
        justify-content: center;
        align-self: center;
        margin-top: 35px;
        margin-left: 50px;
        height: 250px;
        position: relative;
        width: 50%;
        background-color: white;
        position: absolute;
        border-radius: 0% 100% 100% 0% / 48% 45% 55% 52%;
        opacity: 0.2;
      }
      // image
      img {
        margin-top: -30px;
        height: 100%;
        width: 70%;
        margin-left: 10px;
        position: absolute;
        z-index: 1;
      }
    }
    // button
    .button {
      width: 100%;
      height: 20%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    // dl-btn
    button {
      width: 100%;
      bottom: 0;
      line-height: 50px;
      height: 50px;
      text-align: center;
      cursor: pointer;
    }
  }

  // 3rd part
  .introduction {
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: none;
    border-top: 1px solid #c3bacc;
    padding: 15px 2px 15px 0;
    h3 {
      font-size: 35px;
      color: #ffff3f;
    }
    p {
      font-size: 20px;
      padding-left: 5px;
      text-align: justify;
      font-family: Montserrat;
      font-weight: bold;
      color: white;
    }
  }
}
@media screen and (max-width: 320px) {
  // section page start
  .section-profile {
    display: flex;
    flex-direction: column;
    border-top: 2px solid black;
    background-color: #2e2f34;
    padding: 0 0;
    height: 100%;
    width: 100%;
    top: -100px;
    overflow-x: hidden;
    box-shadow: 1px 5px 2px 1px rgba(0, 0, 0, 0.79);
    -webkit-box-shadow: 1px 5px 2px 1px rgba(0, 0, 0, 0.79);
    -moz-box-shadow: 1px 5px 2px 1px rgba(0, 0, 0, 0.79);
    h3 {
      color: white;
    }
  }

  //
  .profile {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 18vh;
    overflow-x: hidden;
    border-right: none;
    border-bottom: 2px solid #c3bacc;
    font-family: Montserrat;
    h3 {
      font-weight: bolder;
      font-size: 35px;
    }
    a {
      color: #ffff3f;
      text-decoration: none;
      font-size: 20px;
      span {
        color: #c3bacc;
      }
    }
  }

  // Image center holygrailcenter
  .imageBtn-container {
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    overflow-x: hidden;

    // image and cover container
    .imageNcover {
      width: 100%;
      height: 80%;
      position: relative;

      // cover-back
      .dark-cover {
        justify-content: center;
        align-self: center;
        margin-top: 35px;
        margin-left: 50px;
        height: 250px;
        position: relative;
        width: 50%;
        background-color: white;
        position: absolute;
        border-radius: 0% 100% 100% 0% / 48% 45% 55% 52%;
        opacity: 0.2;
      }
      // image
      img {
        margin-top: -30px;
        height: 100%;
        width: 90%;
        margin-left: -40px;
        position: absolute;
        z-index: 1;
      }
    }
    // button
    .button {
      width: 100%;
      height: 20%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    // dl-btn
    button {
      width: 100%;
      bottom: 0;
      line-height: 50px;
      height: 50px;
      text-align: center;
      cursor: pointer;
    }
  }

  // 3rd part
  .introduction {
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: none;
    border-top: 1px solid #c3bacc;
    padding: 15px 2px 15px 0;
    h3 {
      font-size: 35px;
      color: #ffff3f;
    }
    p {
      font-size: 20px;
      padding-left: 5px;
      text-align: justify;
      font-family: Montserrat;
      font-weight: bold;
      color: white;
    }
  }
}
