.section-projects {
  background-color: #34353a;
  width: 100%;

  .header {
    text-align: center;
    color: yellow;
  }

  .content-project {
    padding: 10px;
    column-gap: 15px;
    max-width: 1200px;
    margin: 0 auto;
    column-count: 3;

    @media screen and (max-width: 1200px) {
      column-count: 3;
    }

    @media screen and (max-width: 768px) {
      column-count: 2;
    }

    .project {
      break-inside: avoid;
      margin-bottom: 15px;
      display: inline-block;
      width: 100%;
      .card-image {
        // position: relative;
        //   transition: background-color 0.3s ease;
      }
      .card-image:hover {
        background: rgba(10, 172, 212, 0.521);
      }
      .title p {
        font-size: 18px;
        font-weight: bolder;
        @media screen and (max-width: 425px) {
          font-size: 15px;
        }
      }
      .content {
        font-size: 15px;
        @media screen and (max-width: 425px) {
          font-size: 12px;
          font-weight: 800;
        }
      }
      .tools {
        margin-top: 10px;
        font-family: "Courier New", Courier, monospace;

        @media screen and (max-width: 425px) {
          font-size: 12px;
          font-weight: 800;
        }
      }
      .showBtn-container,
      .hideBtn-container {
        width: 100%;
        display: flex;
        justify-content: center;

        .showBtn,
        .hideBtn {
          font-size: 20px;
          text-align: center;
          color: blue;
          @media screen and (max-width: 425px) {
            font-size: 15px;
            font-weight: 800;
          }
        }
      }
      .details {
        @media screen and (max-width: 425px) {
          font-size: 12px;
        }
      }
    }
  }
}
