

.section-skills {
  background-color: #34353a;
  height: auto;
  width: 100%;
  padding: 10px 0 ;
display: flex;
justify-content: center;

  .skills-container{
    background-color: white;
    padding: 10px;
    width:70%;
    border-radius: 20px;
    margin: 0 60px;
  }
  .skills {
    display: flex;
    flex-direction: row;
            flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding: 20px;
    text-align: center;

    img {
     width: 100px;
     height: 100px;
    }
    p {
      margin-top: 10px;
    }
  }
}




@media screen and (max-width:640px) {
  .section-skills{
      padding: 10px;
        .skills-container {
            background-color: white;
            padding: 10px;
            border-radius: 20px;
            margin: 0 20px;
          }
  }
}
@media screen and (max-width:470px) {
  .section-skills{
        height: auto;
        width: 100%;
        padding: 5px 5px;
        display: flex;
        justify-content:baseline;
              .skills-container {
                  background-color: white;
                  padding: 5px;
                  width: 100%;
                  border-radius: 20px;
                  margin: 0;
                }
  }
}